<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/toxicity"></script>
<body>
	<div id='predict'> </div>
<script>
const threshold = 0.5;
let message= location.href.split("message=")[1].replace(/%20/g, " ");
// let message= location.href.split("message=")[1];
toxicity.load(threshold).then(model => {
    const sentences = message;
    // const sentences = ['Fuck you idiot'];
    console.log(sentences)
    model.classify(sentences).then(predictions => {
        console.log(predictions);
        var text = ""
        for(i=0; i<7; i++){
            if(predictions[i].results[0].match){
                console.log(predictions[i].label + " was found with probability of " + predictions[i].results[0].probabilities[1].toFixed(2));
                // document.getElementById('predict').innerHTML=predictions[i].label + " was found with probability of " + predictions[i].results[0].probabilities[1]
                text += "<h1>"+ predictions[i].label + " was found with probability of " +  predictions[i].results[0].probabilities[1].toFixed(2) +"</h1>";
                
				document.getElementById("predict").innerHTML = text;
            }else{
				document.getElementById("predict").innerHTML = "<h1> No toxicity was found in the text <h2>";
			}
        }
    });
});
</script>
</body> 
</head>
</html>    